<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="num1">
    <button @click="add">添加</button>
    <button @click="del">删除</button>
    <button @click="replace">替换</button>
    <ul>
        <li v-for="(item,index) in num2">{{item}}</li>
    </ul>
</div>
<script type="text/javascript" src="./lib/vue-3.0.js"></script>
<script type="text/javascript">
    let vm = Vue.createApp({
        data() {
            return {
                num1: '',
                num2: ['apple','banana','hhhh']
            }
        },
        methods:{
            //添加
            add(){
                if(this.num1){
                    this.num2.push(this.num1)
                    this.num1=''
                }else {
                    alert('不能为空')
                }
            },
            //删除
            del(){
                this.num2.pop()
            },
            //替换
            replace(){
               this.num2= this.num2.slice(0,2)
            }
        }
    }).mount('#app')
</script>
</body>
</html>
